<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head_top) %>
    <%= yield(:head_top) %>
  <% end %>

  <% if content_for?(:head_title) %>
    <%= yield(:head_title) %>
  <% else %>
    <title>mikeallred.com</title>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
